.whole-body-counter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDF4FF;
    height: 100vh;
}
.counter-card{
    display: flex;
    flex-direction: column;
    background-color: #F6FFFF;
    width: 30%;
    height: 65%;
    padding: 5%;
    box-shadow: #DFE7F9;
}
.counter-value{
    display: flex;
    flex-direction:column;
    height:70%;
    justify-content: center;
    align-items: center;
    background-color:#FFEC75 ;
}
.count{
    font-size: 6rem;
    font-family: 'Times New Roman';
    font-weight: 700;
    color: #020500;
}
.counter-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}
.c-button{
    height:70%;
    width: 25%;
    background-color: #EEF8FF;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}
.button-image{
    width: 30%;
    height: 40%;
    border-radius: 6%;
}