.navBar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height: 15%;
    width: auto;
    background-color: #CDB4DB;
    padding: 2% 5% 2% 4%;
}
.navElement{
    font-family:'Trebuchet MS';
    color:#3D3D3D;
    font-size:2rem;
    /* Hover: #FFD6A5; */
}
.navRef{
    text-decoration: none; 
    color: #3D3D3D;
}