/* .Home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* gap:4%; */
/* }
.Home-navBar{
    width: 100%;
    height:35%;
}


.Home-footer{
    width: 100%;
    height: 15%;
}  */
  /* .Home-featureSection{
    width: 100%;
    height: 30%;
} */