.footer{
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 0% 4% 0% 4%;
    height: 15%;
    width: 92%;
    background-color: #B5EAD7;
}
.footerText{
    font-family: 'Trebuchet MS';
    font-size: 1.5rem;
    font-weight: 600;
    color: #3D3D3D;
}
.footerIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}
.footerImage{
    width: 2.5rem;
    height: 2.5rem;
}